.sf-cssutil--circle{
  @util center-block;
  @util circle(200px, #268BD2);
}

.sf-cssutil--clearfix{
  @util center-block;
  padding:0px;
  list-style-type:none;
  @util clearfix;
}
.sf-cssutil--aspect-ratio{
    @util aspect-ratio(16:9);
}
.sf-cssutil--break-word{
    @util center-block;
    @util word-wrap(break-word);
}


.sf-cssutil--single-line{
    @util center-block;
    margin-bottom: 30px;
    color : #268BD2;
    width : 100px;
     @util truncate;
     opacity : 1;
     &:hover{
       opacity : 0.8;
       transition:  all 0.3s linear;
     }
}

.sf-cssutil--multiline{
  @util center-block;
  width : 100px;
  @util truncate(3, 1.5);
  color : #93A1A1;
  opacity : 1;
  &:hover{
    opacity : 0.8;
    transition:  all 0.3s linear;
  }
}

.sf-cssutil--center{
    width : 50%;
    height: 180px;
    margin:0 auto;
    background-color : #ddd;
    position: relative;
    .child {
      background-color : #5D4157;
      color : #FFF;
      padding: 20px;
      @util center;
      &:hover{
        cursor : pointer;
        background-color : #826d7d;
        transition: all 0.3s linear;
      }
    }
}

.sf-cssutil--center-block{
  width : 100px;
  height: 100px;
  line-height: 100px;
  text-align : center;
  color : #fff;
  background-color : #5D4157;
  @util center-block;
  &:hover{
    cursor : pointer;
    background-color : #826d7d;
    transition: all 0.3s linear;
  }
}

.sf-cssutil--triangle{
  @util reset-list;
  @util center-block;
  background-color : #f3f3f3;
  width : 450px;
  @util clearfix;
  li{
    float : left;
    margin: 10px 40px;
  }
  .up{
    @util triangle(20px, #808080, up);
  }
  .down{
    @util triangle(20px, #808080, down);
  }
  .left{
    @util triangle(20px, #808080, left);
  }
  .right{
    @util triangle(20px, #808080, right);
  }
  .up-right{
    @util triangle(20px, #808080, up-right);
  }
  .up-left{
    @util triangle(20px, #808080, up-left);
  }
  .down-right{
    @util triangle(20px, #808080, down-right);
  }
  .down-left{
    @util triangle(20px, #808080, down-left);
  }
}
